.header{
    padding: 30px;
    text-align: center;
    background: #beb7b7;
}
.saludo{
    padding: 60px;
    background: #f6f6f6;
    text-align: center;
}
.mensaje{
    padding: 60px;
    background: #f6f6f6;
    text-align: center;
}
.contenedor{
    padding: auto;
    background: #f6f6f6;
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: auto;
    grid-gap: 100px 70px;
    grid-template-areas: "a b c";
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
} 
.perfil{
    grid-area: a;
    background: #f6f6f6;
    border: 1px orangered solid;
}
.desc{
    padding: 15px;
    text-align: center;
}
.TAM{
    font-size: 20px;
    text-align: center;
}
.producto{
    grid-area: b;
    background: #f6f6f6;
    border: 1px orangered solid;
}
.venta{
    grid-area: c;
    background: #f6f6f6;
    border: 1px orangered solid;
}
.row::after{
    content: "";
    display: grid;
    clear: both;
}

/*buscador flotante*/
*{
    box-sizing: border-box;
}
.buscador{
    display: block;
    position: fixed;
    
    top: 84%;
    width: 50%;
    height: 50%;
    bottom: 0%;
    left: 25%;
}